@import "tailwindcss";

@theme {
  --font-sans: "Aileron", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  :root {
    --sidebar-width: 104px;
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  height: 100vh;

  background: radial-gradient(550px at center, rgb(248, 234, 187), transparent),
  linear-gradient(215deg, rgb(248, 234, 187) 15%, transparent 50%),
  linear-gradient(170deg, rgb(196, 231, 195) 15%, transparent 40%),
  linear-gradient(51deg, rgb(199, 227, 225) 15%, transparent 50%),
  linear-gradient(340deg, rgb(253, 207, 212) 15%, transparent 50%);

  background-size: 100% 100%;
  background-blend-mode: multiply, overlay;
}
